.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
src/deprecated/*.*
inst/stan/deprecated/*.*
inst/Reports
inst/sims
inst/images
inst/output
inst/.DS_Store
inst/simulations/results/lalonde/CI/*.rds
Output
archive
tables
R/deprecated