.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
src/deprecated
src/deprecated/*.*
inst/stan/deprecated/*.*
inst/Reports
inst/sims
inst/images
inst/output
inst/.DS_Store
inst/simulations/results/lalonde/CI/*.rds
inst/simulations/results
inst/simulations
inst/simulations/CRASH3/results/estimates/*.*
inst/seed_generation
inst/cluster
inst/stan/test
inst/Reproduce/data/*.*
inst/Reproduce/ReproduceCOT.log
Output
Plots
Table
archive
tables
R/deprecated
inst/doc
/doc/
/Meta/
**/.DS_Store
vignettes/cache