useDynLib(causalOT, .registration = TRUE)
import(Rcpp)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
import(methods)
importFrom(rstan, sampling)
importFrom(rstan, optimizing)
exportPattern("^[[:alpha:]]+")
